:root {
  --cyan: #72ECE2;
  --dark-blue: #1c3245;
  --light-cyan:#5685ae;
}

body {
  background-color: var(--cyan);
  font-family: Spartan, sans-serif;
  margin: 0;
}

a{
  text-decoration: none;
  color:#fff;
  margin: 0
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  position: fixed;
}

.menu-portfolio {
  position: relative;
}


.menu-bar img {
  width: 123px;
  height: 123px;
  left: 2%;
  z-index: +1;
}

.menu-icon{
  display: none;
}

.menu-mobile{
  display: none;
}

.menu{
  width: 120px;
  margin-right: 2rem;
}

.menu span {
  display: inline-block;
  width: 120px;
  text-align: center;
  border-radius: 16px;
  margin-top: 1.75rem;
  border: .1rem solid gray;
  padding: 1rem 0.5rem;
  color: #fff;

  background-color: var(--dark-blue);
  font-family: 'Space Mono', monospace;
  cursor: pointer;
  z-index: +1;
}

/* ========== page 1 ========== */
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.central-container-p1 {
  justify-content: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.central-container-p1  span{
  text-align: center;
  line-height: 1.4rem;
  margin-bottom: 2rem
}

.central-container-p1  h1{
  text-align: center;
}

/* ========== page 2 ========== */
.horizontal-bar .avatar {
  width: 119px;
  height: 123px;
}

.horizontal-bar {

  background-color: var(--dark-blue);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  padding-bottom: 7rem;
  outline: 1px blue solid;

}

.horizontal-bar .hi {
  text-align: center;
  margin-bottom: 3rem;
  color: #fff;
}

.central-container-p2{
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  top: -6.6rem;
  z-index: 0;

}

.table {
  display: flex;
  margin: auto 160px;
  justify-content: center;
}



.subtable {
  border: 1px var(--dark-blue) solid;
  position: relative;
  border-radius: 15px;
  width: 48%;
}

.subtable-header{
  background-color: var(--light-cyan); hsla(208, 42%, 19%, 33%);#1C324554; var(--dark-blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:6.5rem;
  justify-content: center;
  border-radius: 15px 15px 0 0;
  margin-bottom: 1rem;
}

.subtable-header h4{
  margin: 0.25rem;
}

.subtable-header img{
  height: 61px;
  width: 73px;
}

.subtable-bottom{
  padding: 0.5rem 1rem;
  color: var(--dark-blue)
}

.subtable-text{
  text-align: center;
  margin-bottom: 2rem;
}

.subtable-bottom h4{
  text-align: center;
}

.subtable-bottom li{
  line-height: 2rem;
}

.design-list li{
  line-height: 3rem;
}


/* =========== p3 ============== */

.why-text-part{
  position: relative;
  color:#fff;
  width: 30%;
  display: flex;
  line-height: 1.4rem;
  margin: 3rem 5rem 2rem 10rem;

}


.horizontal-bar-p3{
  flex-direction: row;
  padding-bottom: 1rem;
  z-index: 0;
}


.why-text-part .avatar{
  margin-right: 2rem;
}

form input{
  border: 0;
  border-radius: 14px 14px 0 0 ;
  height: 2rem;
  background-color: var(--cyan);
  color: var(--dark-blue);
  outline: 0;
  font-size: 1.0rem;

}

form input+input{
  border-top: 1px solid var(--dark-blue);
  margin-bottom: 1rem;
  border-radius: 0 0 14px 14px;

}

.contact-form{
  display: flex;
  flex-direction: column;
  margin: 4rem 5rem 2rem 10rem;

}

.contact-form .btn_email{
  height: 2rem;
  border-radius: 14px;
  margin-top: 1rem;
  background-color: var(--cyan);
  border: 0;
  padding-top: 0.5rem;
  color: var(--dark-blue);
  font-size: 1.3rem;
  text-align: center;
  cursor: pointer;
}

textarea{
  background-color: var(--cyan);
  font-size: 1.1rem;
  border: 0;
  outline: 0;



}



/* =========== mobile ============== */

@media (max-width:930px){
  .menu-bar  {
    position: relative;
  }


  .table {
    margin: auto 10%;
  }
}

@media (max-width:730px){
  .table {
    margin: auto 5%;
  }

}


@media (max-width:600px){
  .table {
    flex-direction: column;
    margin: auto 10%;
  }

  .subtable {
    width: 100%;
    margin-bottom: 1rem;
  }

  .subtable-header{
    border-radius: 12px 12px 0 0;
  }
}

@media (max-width:500px){

  .menu-bar {
    margin: 0;
  }


@media (max-width:430px){

  .menu {
    display:None;
  }

  .menu-icon {
        display: flex;
        width: 20px;
        height: 20px;
        text-align: center;
        background-image: url("../images/icon-hamburger.svg");
        background-repeat: no-repeat;
        margin: auto 1rem;
      }

  .page1{
    position: relative;
  }

  .menu-mobile{
    display: none;
    position: absolute;
    top: 0;
    flex-direction: column;
    width: 100%;
    background-color: var(--dark-blue);
    padding: 1.3rem 0;
    align-items: center;
    margin-top: 0;
    color: var(--cyan);
  }

.menu-mobile span{
  width: 100%;
  text-align: center;
}

.menu-fspan{
  padding-bottom: 1rem;

}

  .menu-mobile span + span{
    padding-top: 1rem;
    border-top: 1px solid var(--cyan)

  }
}
