:root{
  --dark-gray:hsl(0, 0%, 30%);
  --gray:hsl(0, 0%, 50%);
  --light-gray:hsl(0, 0%, 90%);
  --very-light-gray:hsl(0, 0%, 95%);
  --cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
}


.hidden{
  display: none;
}

body{
  font: 1rem Commissioner, sans-serif;
  outline: 1px solid red;
  margin:0;
  background-color:  hsl(0, 0%, 100%);
}

header{
  background: url("../images/image-hero-desktop.jpg") no-repeat;
  min-width: 100vw;
  height: 300px;
  background-size:cover;
  /* outline: 1px solid blue; */
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
}

.menu .company span{
  /* outline: 1px solid yellow; */
  display: inline-block;
  font-weight: 700;
  color:#fff;
  font-size: 1.2rem;
}
.menu{
  /* outline: 1px solid yellow; */
  /* display: flex;
  justify-content: space-between; */
  margin: 0 8rem;
  padding-top: 2rem;
}

.menu ul{
  width: 50%;
  margin: 0;
/* outline: 1px solid green; */
  display: flex;
  justify-content: flex-end;
  list-style: none;


}

.menu li{
  margin-left: 2rem;
  color: #fff;
  cursor: pointer;
}


main{
  display: flex;
  justify-content: center;
  min-height: 100vh;

}

.central-column{
  position: relative;
  width: 700px;
  top: -100px;
}
/*  ========= Top central part ======= */
.central-column .top{
  position: relative;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  border: 1px solid var(--very-light-gray)
}

.logo{
  position: absolute;
  right: 50%;
  top:-2rem;
}

.central-column .bio{
  color: var(--gray);
}
.bottom-header{
  margin-top: 2rem;
}

.back-to-project{
  color:#fff;
  font-weight: bold;
  background-color: hsl(176,72%, 28%);
  padding: 1rem 2rem;
  border-radius: 30px;
  cursor: pointer;

}

.bookmark{
  background-color: var(--light-gray);
  color:var(--gray);
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  position: relative;
  width: 5rem;
}


.bookmark label{
  top:0;
  right:0%;
  width: 70%;
  position: absolute;
  padding: 1rem 2rem;
  z-index: +1;

}

.bookmark svg{
  position: absolute;
  top:-2px;
  left:-2rem;
  cursor: pointer;
}

.bookmark input{
  visibility: hidden;
}

/*  ========== center ========== */
.center{
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  border: 1px solid var(--very-light-gray);
  margin-top: 2rem;
}

.center .box-top{
  /* outline: red 1px solid; */
  display: flex;
  justify-content: space-around;
}

.center .number{
  font-weight: 900;
  font-size:1.9rem;
}

.center .box-bottom{
  color: var(--gray);
  font-size: 0.9rem;
}

.center .box {
  width: 33%;
}

.center .box + .box{
  padding-left: 3rem;;
  border-left: 1px var(--light-gray) solid;
}

.top .bar{
  position: relative;
  height:10px;
  width:100%;
  margin-top: 1.6rem;
  border-radius: 10px;
  background-color:  var(--light-gray);
}

.top .bar .bar-color{
  position: absolute;
  top:0;
  height:10px;
  width:80%;
  border-radius: 10px;
  background-color: var(--cyan);
}
