:root {
  --dark-gray: hsl(0, 0%, 30%);
  --gray: hsl(0, 0%, 50%);
  --light-gray: hsl(0, 0%, 90%);
  --very-light-gray: hsl(0, 0%, 95%);
  --cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
}

.hidden {
  display: none;
}

body {
  font: 1rem Commissioner, sans-serif;
  margin: 0;
  background-color: hsl(0, 0%, 100%);
}

header {
  background: url("../images/image-hero-desktop.jpg") no-repeat;
  min-width: 100vw;
  height: 300px;
  background-size: cover;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.menu-logo{
  display: none;
}
.menu .company span {
  /* outline: 1px solid yellow; */
  display: inline-block;
  font-weight: 700;
  color: #fff;
  font-size: 1.2rem;
}

.menu {
  /* outline: 1px solid yellow; */
  /* display: flex;
  justify-content: space-between; */
  margin: 0 8rem;
  padding-top: 2rem;
}


.menu ul {
  width: 50%;
  margin: 0;
  /* outline: 1px solid green; */
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.menu li {
  margin-left: 2rem;
  color: #fff;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.central-column {
  position: relative;
  width: 700px;
  top: -100px;
}

/*  ========= Top central part ======= */
.central-column .top {
  /* outline: red 1px solid; */
  text-align: center;
  position: relative;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  border: 1px solid var(--very-light-gray)
}

.logo {
  /* outline: red 1px solid; */
  position: absolute;
  right: 50%;
  top: -2rem;
}

.central-column .bio {
  color: var(--gray);
}

.bottom-header {

  margin-top: 2rem;
}

.green-button {
  color: #fff;
  font-weight: bold;
  background-color: var(--cyan);
  padding: 1rem 2rem;
  border-radius: 30px;
  cursor: pointer;
}

.green-button:hover {
  background-color: var(--dark-cyan);
}

.bookmark {
  background-color: var(--light-gray);
  color: var(--gray);
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  position: relative;
  width: 5rem;
}

.bookmark label {
  top: 0;
  right: 0%;
  width: 70%;
  position: absolute;
  padding: 1rem 2rem;
  z-index: +1;
  cursor: pointer;
}

.bookmark svg {
  position: absolute;
  top: -2px;
  left: -2rem;
  cursor: pointer;
}

.bookmark input {
  visibility: hidden;
}

/*  ========== center ========== */
.center {
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  border: 1px solid var(--very-light-gray);
  margin-top: 2rem;
}

.center .box-top {
  /* outline: red 1px solid; */
  display: flex;
  justify-content: space-around;
}

.center .number {
  font-weight: 900;
  font-size: 1.9rem;
}

.center .box-bottom {
  color: var(--gray);
  font-size: 0.9rem;
}

.center .box {
  width: 33%;
}

.center .box+.box {
  padding-left: 3rem;
  ;
  border-left: 1px var(--light-gray) solid;
}

.center .bar {
  position: relative;
  height: 10px;
  width: 100%;
  margin-top: 1.6rem;
  border-radius: 10px;
  background-color: var(--light-gray);
}

.center .bar .bar-color {
  position: absolute;
  top: 0;
  height: 10px;
  width: 80%;
  border-radius: 10px;
  background-color: var(--cyan);
}

/* =========  content =========*/
.content {
  border-radius: 10px;
  padding: 2rem;
  border: 1px solid var(--very-light-gray);
  margin-top: 2rem;
}

.content span {
  color: var(--gray);
  line-height: 1.8rem;
}

.production {
  margin-top: 2rem;
  border-radius: 10px;
  padding: 2rem;
  border: 1px solid var(--light-gray);
  margin-top: 2rem;
}

.production h4 {
  margin: 0;
}

.production-top {
  margin-bottom: 2rem;
}

.production .price {
  color: var(--cyan)
}

.production-bottom {
  margin-top: 2rem;
}

.production-bottom h3 {
  margin: 0;
  display: inline-block;
}

.production>span {
  color: var(--gray);
  line-height: 1.8rem;
}

@media (max-width:800px) {
  .central-column {
    position: relative;
    width: 500px;
    top: -100px;
  }

  .menu {
    margin: 0 2rem;
  }
  .logo {
    right: 45%;
  }
}

  @media (max-width:428px) {
    .central-column {
      position: relative;
      width: 350px;
      top: -100px;
    }

    .logo {
      right: 41%;
    }
    /*  ========= Top central part ======= */
    .bookmark span {
      display: none;
    }

    .bookmark {
      padding: 0;
      width: 0rem;
    }

    .bookmark label {
      width: 56px;
      padding: 0;
      height: 56px;
    }

    .bookmark svg {
      position: absolute;
      left: -56px;
      top: -1px;
      cursor: pointer;
    }

    /*  ========== center ========== */
    .center {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
    }

    .center .box-top {
      display: contents;
      flex-direction: column;
      justify-content: center;
    }

    .center .number {
      font-weight: 900;
      font-size: 1.9rem;
    }

    .center .box-bottom {
      color: var(--gray);
      font-size: 0.9rem;
    }

    .center .box {
      text-align: center;
      padding-bottom: 2rem;
    }

    .center .box+.box {
      padding-left: 0rem;
      border-left: 0;
      padding-top: 2rem;
      border-top: 1px var(--light-gray) solid;
    }

    /* =========  content =========*/
    .content {
      border-radius: 10px;
      padding: 2rem;
      border: 1px solid var(--very-light-gray);
      margin-top: 2rem;
    }

    .content span {
      color: var(--gray);
      line-height: 1.8rem;
    }

    .production {
      margin-top: 2rem;
      border-radius: 10px;
      padding: 2rem;
      border: 1px solid var(--light-gray);
      margin-top: 2rem;
    }

    .production-top {
      flex-direction: column;
      margin-bottom: 1.5rem;
    }

    .production-bottom {
      flex-direction: column;
      margin-top: 1.5rem;
    }

    .left-box-production {
      margin-bottom: 1.1rem;
    }

    .select-reward {
      width: 50%;
    }

    header {
      min-width: 100vw;
      height: 300px;
      background-image: url("../images/image-hero-mobile.jpg")
      /* background-origin: 0 100px ; */
    }

    .menu .company span {
      padding-left: 10px;
    }

    .menu {
      margin: 0;
      padding-top: 1rem;
      position: relative;
      /* outline: 1px solid red; */

    }

    .menu-logo {
      display: flex;
      width: 20px;
      height: 20px;
      position: absolute;
      text-align: center;
      right: 10px;
      background-image: url("../images/icon-hamburger.svg");
      background-repeat: no-repeat;
    }



    .menu .menu-desktop {
      visibility: hidden;
    }

    .menu .menu-mobile {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 80%;
      left: 10%;
      border-radius: 10px;
      background-color: #fff;
      color: #000;
      visibility:hidden;
      z-index: +1;
      padding: 0;
      top:200%;
      border: 1px solid var(--very-light-gray);
      box-shadow: 5px 5px 25px #000;

    }

    .menu .menu-mobile li{
      width: 100%;
      padding: 1rem 0rem;
      margin: 0;
      color: #000;

    }

    .menu .menu-mobile li + li{
      border-top: 1px solid var(--light-gray)
    }

    .menu .menu-mobile li span{
      margin-left: 0.4rem;

    }

  }
